.container {
    width: 90%;
    margin: 0.5rem auto;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;  
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}

@media (min-width: 768px) {
    .row {
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    .row {
        font-size: 1.2em;
        height: 60px;
    }
}